table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.delete-button {
    background-color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #dc9999;
    color: white;
}
