.contact-page {
    padding: 20px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    font-size: 24px;
    font-weight: bold;
}

.contact-info p {
    font-size: 18px;
    margin: 5px 0;
}

.contact-form h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

.bt button {
    padding: 10px 20px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.bt button:hover {
    background-color: #3d422a ;
}
